# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd
import numpy as np
%time

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 4.05 µs

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [52]:
# load json as string
js = json.load((open('data/world_bank_projects_less.json')))
#js

In [53]:
# load as Pandas dataframe
dfr = pd.read_json('data/world_bank_projects_less.json')
#dfr

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
pd.set_option('display.max_columns', None)

In [54]:
df = pd.read_json("data/world_bank_projects.json")
#df

Lets calculate the fraction of nulls present in each column, before proceeding further.

In [17]:
import operator
frac_nulls = {col: (sum(df[col].isnull())/len(df)) for col in df.columns}
frac_nulls = sorted(frac_nulls.items(), key = operator.itemgetter(1))
frac_nulls

[('_id', 0.0),
 ('approvalfy', 0.0),
 ('board_approval_month', 0.0),
 ('boardapprovaldate', 0.0),
 ('country_namecode', 0.0),
 ('countrycode', 0.0),
 ('countryname', 0.0),
 ('countryshortname', 0.0),
 ('grantamt', 0.0),
 ('ibrdcommamt', 0.0),
 ('id', 0.0),
 ('idacommamt', 0.0),
 ('lendprojectcost', 0.0),
 ('majorsector_percent', 0.0),
 ('mjsector_namecode', 0.0),
 ('mjtheme_namecode', 0.0),
 ('mjthemecode', 0.0),
 ('prodline', 0.0),
 ('prodlinetext', 0.0),
 ('productlinetype', 0.0),
 ('project_name', 0.0),
 ('projectfinancialtype', 0.0),
 ('projectstatusdisplay', 0.0),
 ('regionname', 0.0),
 ('sector', 0.0),
 ('sector1', 0.0),
 ('sector_namecode', 0.0),
 ('sectorcode', 0.0),
 ('source', 0.0),
 ('status', 0.0),
 ('theme1', 0.0),
 ('totalamt', 0.0),
 ('totalcommamt', 0.0),
 ('url', 0.0),
 ('supplementprojectflg', 0.0040000000000000001),
 ('lendinginstr', 0.01),
 ('lendinginstrtype', 0.01),
 ('mjtheme', 0.017999999999999999),
 ('theme_namecode', 0.017999999999999999),
 ('themecode', 0.017999999999999999),
 ('borrower', 0.029999999999999999),
 ('impagency', 0.056000000000000001),
 ('docty', 0.108),
 ('projectdocs', 0.108),
 ('envassesmentcategorycode', 0.14000000000000001),
 ('sector2', 0.23999999999999999),
 ('closingdate', 0.26000000000000001),
 ('project_abstract', 0.27600000000000002),
 ('sector3', 0.46999999999999997),
 ('sector4', 0.65200000000000002)]

We are interested in country names (or codes) and project names (or codes). All the columns pertaining to these kinds of variables seem to have 0 nulls, which is great. Note that we are not considering "mjtheme", "theme_namecode" and "themecode" because it is hinted to consider "mjtheme_namecode".

## Top 10 countries with most projects:

There are rows (or countries) that have multiple projects (or mjtheme_namecode), which means that a single row (for a chosen country) might have multiple projects. So, grouping countries in the above data frame and counting the numbers of rows for each country will be the wrong appraoch. We need to flatten the df so that we have one row representing only one project. Basically, we will be splitting a row (containing multiple mjtheme_namecode values) into multiple rows.

Note that this is based on the assumption that a particular "mjtheme_namecode" corresponds to a particular "project".

In [42]:
jdata = json.load(open("data/world_bank_projects.json"))
dfj = json_normalize(jdata, "mjtheme_namecode", "countryname")
dfj.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [43]:
df.shape

(500, 50)

In [44]:
dfj.shape

(1499, 3)

By flattening the original data frame we increase the number of records by three times.

## Top 10 countries:

In [45]:
dfj.groupby("countryname").size().sort_values(ascending=False).head(10)

countryname
Republic of Indonesia              56
Republic of India                  51
Socialist Republic of Vietnam      43
Federative Republic of Brazil      41
People's Republic of Bangladesh    41
People's Republic of China         40
Africa                             39
Republic of Yemen                  34
Kingdom of Morocco                 32
Republic of Mozambique             31
dtype: int64

There is still some issues above with regards to Africa, which is not a country but a continent. What is going on in the "countryname" column?

Lets get a data frame with "countrycode" as the country column.

In [46]:
jdata1 = json.load(open("data/world_bank_projects.json"))
dfj1 = json_normalize(jdata1, "mjtheme_namecode", "countrycode")
dfj1.groupby("countrycode").size().sort_values(ascending=False).head(10)

countrycode
ID    56
IN    51
VN    43
BR    41
BD    41
CN    40
3A    39
RY    34
MA    32
MZ    31
dtype: int64

We observe an alph-numeric object for Africa. It is not clear why Africa's country code was "3A". It could represent three African countries together or there could be some other explanation. Looking at the data, it is not clear. Therefore, the above mentioned top 10 list is correct except the 7th entry.

## Top 10 major project themes

Using the code, we can get the top 10 projects easily:

In [47]:
dfj.groupby("code").size().sort_values(ascending=False).head(10)

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
dtype: int64

However, in order to get this ranking for project themes we need to fill the empty cells.
Each code corresponds to a unique project theme. Let us now get the mapping between codes and project themes.

In [48]:
noblank = dfj[dfj.name != '']
codename = noblank[["code", "name"]]
codename.code = codename.code.astype(int)
mymap = codename.drop_duplicates().sort_values("code").reset_index(drop=True)
mymap
#mydict = dict(mymap)

//anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management

Knowing the mapping, we can now fill in the empty cells.

In [49]:
#dfj.reset_index().apply(lambda x: mymap.name[dfj.code[x].astype(int) - 1])# if dfj.name[x] == '' else None)
#dfj.reset_index().apply(lambda x: print(mymap.name[dfj.code[x].astype(int) - 1]))
for i in np.arange(len(dfj)):
    if dfj.name[i] == '':
        dfj.name[i] = mymap.name[int(dfj.code[i]) - 1]
%time

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.05 µs

In [56]:
dfj.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,Environment and natural resources management,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

## Following is the table for top 10 projects

In [51]:
dfj.groupby("name").size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
dtype: int64